.artist-button {
    margin: 1%;
    background-color: #1dda63;
    color: black;
}

a {
    color: black;
}

.col-md-3 {
    padding: 1%;
}

.artist:hover {
    background-color: rgba(0, 0, 0, .5);
}

a {
    text-decoration: none;
}