.artist-button {
    margin: 1%;
    background-color: #1dda63;
    color: black;
}

.albumart img {
    max-width: 64px;
}

.artist {
    padding: 2%;
}

a {
    text-decoration: none;
}


$btnColor: #148F40;
$shadow: $btnColor;
$background: #1D1F20 ;

body {
    background-color:$background;
}

.btn {
  background-color: rgba(0,0,0,.5);
  margin: 1%;
  color: #fff;
}

/* .albumart {
  filter: blur(4px);
}

.albumart:hover {
  filter: blur(0);
} */
#customAudio::-webkit-media-controls-panel {
  background-color: #f0f0f0; /* Set background color for webkit browsers */
  color: #333; /* Set color for webkit browsers */
  border-radius: 5px; /* Add some border radius */
}

.artist-button {
  margin: 1%;
  background-color: #1dda63;
  color: black;
}

.albumart img {
  max-width: 64px;
}

.col-md-3 {
  padding: 1%;
}

.artist:hover {
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 8px 8px white inset;
}

a {
  text-decoration: none;
}
